.wrapper {
  --border-style: 1px solid rgba(0, 0, 0, 0.23);
  display: flex;
  flex-direction: column;
  gap: 12px;
  box-sizing: border-box;
  max-width: 100%;
  width: fit-content;
  padding: 12px;
  border-top: var(--border-style);
  border-left: var(--border-style);
}

.flexWrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media only screen and (min-width: 768px) {
  .flexWrap {
    flex-direction: row;
  }
}

.textContent {
  word-break: break-word;
}

.dateText {
  color: #666666;
}

.actionsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  min-width: fit-content;
}

.textFieldContainer,
.textFieldContainer > div {
  width: 100%;
}

.listItem:not(:last-child) {
  margin-bottom: 8px;
}
